@section Styles {
  <!-- Semantic-UI Stylesheets -->
  <link rel="stylesheet" href="~/node_modules/semantic-ui-css/components/modal.min.css"/>
  <link rel="stylesheet" href="~/node_modules/semantic-ui-transition/transition.min.css"/>
  <link rel="stylesheet" href="~/node_modules/semantic-ui-css/components/dimmer.min.css"/>

  <!-- Page-Component Scripts -->
  <link rel="stylesheet" href="~/css/spinner.css"/>
  <link rel="stylesheet" href="~/node_modules/plyr/dist/plyr.css"/>
}

<div class="ui segment">
  <div class="ui container">
    <div class="ui big icon input js-video-url-container" style="width: 100%;">
      <input class="js-video-url" type="text" placeholder="Paste your Video URL here">
      <i class="cloud download icon"></i>
      <div class="ui massive floating dropdown labeled search icon button js-format-dropdown">
        <i class="world icon"></i>
        <span class="text">Format</span>
        <div class="menu">
          <div class="item">MP3</div>
          <div class="item">WAV</div>
          <div class="item">MP4</div>
          <div class="item">WEBM</div>
          <div class="item">Vorbis</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui segment">
  <div class="ui container">
    <div class="ui grid">
      <div class="four wide column">
        <a href="#" class="ui medium rounded image js-video-source">
          <img class="js-media-thumbnail" src="https://i.ytimg.com/vi/HoBa2SyvtpE/maxresdefault.jpg" alt="Thumbnail">
        </a>
      </div>
      <div class="twelve wide column">
        <h1 class="ui header js-media-title">A Super Cool Title written in the YouTubeLink</h1>
        <h6 class="ui header js-media-description">First header</h6>
        <div class="js-media-tags">
        </div>
      </div>
    </div>
  </div>
  <audio class="js-mediaplayer" controls></audio>
</div>

<div class="ui basic modal js-invalid-parameters-modal">
  <div class="ui icon header">
    <i class="meh outline icon"></i>
    Uh-oh, pasted the wrong thing?
  </div>
  <div class="content">
    <p>Please make sure the Link/URL you paste is valid!</p>
  </div>
  <div class="actions">
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Let's try it again
    </div>
  </div>
</div>

@section Scripts
{
  <!-- Semantic-UI JavaScript -->
  <script src="~/node_modules/semantic-ui-transition/transition.min.js"></script>
  <script src="~/node_modules/semantic-ui-css/components/dropdown.min.js"></script>
  <script src="~/node_modules/semantic-ui-css/components/dimmer.min.js"></script>
  <script src="~/node_modules/semantic-ui-css/components/modal.min.js"></script>

  <!-- Page-Component Scripts -->
  <script src="~/node_modules/plyr/dist/plyr.min.js"></script>

  <!-- Vidload Frontend JavaScript -->
  <script src="~/js/configuration/apiServiceUrls.js"></script>
  <script src="~/js/requests/downloadRequest.js"></script>
  <script src="~/js/requests/mediaLocationRequest.js"></script>
  <script src="~/js/requests/mediaMetadataRequest.js"></script>
  <script src="~/js/controller/vidloadController.js"></script>
  <script src="~/js/downloadJob.js"></script>
  <script src="~/js/backendApiService.js"></script>

  <script>
  $(document).ready(function() {
    const apiServiceUrls = new ApiServiceUrls(
        '@Url.Action("InitiateDownload", "API")',
        '@Url.Action("MediaMetadata", "API")',
        '@Url.Action("MediaLocation", "API")',
        '@Url.Action("Download", "API")');
    
    const backendApiService = new BackendApiService(apiServiceUrls);
    
    const videoUrlTextbox = $('.js-video-url');
    const formatDropdown = $('.js-format-dropdown');
    const invalidParametersModal = $('.js-invalid-parameters-modal');
    
    const controller = new VidloadController(
        backendApiService,
        apiServiceUrls,
        videoUrlTextbox, 
        formatDropdown, 
        invalidParametersModal);
    
    controller.initialize();
  });
  </script>
}
